body.colorscheme-dark article div.post-content a {
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
    background-position: bottom;
    background-size: 100% 6px;
    background-repeat: repeat-x;
}

body.colorscheme-dark article div.post-content a:hover {
    background-image: linear-gradient(transparent, transparent 4px, #ff79c6 4px, #ff79c6);
}

main .content table {
    display: block;
    overflow-x: auto;
}

code {
    font-size: 14px;
}